# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.pytest_cache/

# Distribution / packaging
.Python
env/
venv/
lib/
lib64/
include/
share/
bin/
*.egg
*.whl
*.env
.venv

# Editors
.vscode/
.idea/

# OS
.DS_Store
.Trashes
ehthumbs.db
Thumbs.db